
CALL CENTER DEFINITIVO/Core/bin/Debug/Core.dll
CALL CENTER DEFINITIVO/Core/bin/Debug/Core.dll
CALL CENTER DEFINITIVO/Core/bin/Debug/Core.dll
CALL CENTER DEFINITIVO/Core/bin/Debug/Core.dll
*.pdb
*.pdb
*.dll
*.cache
CALL CENTER DEFINITIVO/Mantenimiento_Empleados.v12.suo
CALL CENTER DEFINITIVO/Mantenimiento_Emp/Reporte/Retirado.rpt
CALL CENTER DEFINITIVO/Mantenimiento_Empleados.v12.suo
